{% macro question(i) %}

<div class="modal fade" id="modal-{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-notify modal-info" role="document">
  <!--Content-->
  <div class="modal-content text-center">
    <!--Header-->
    <div class="modal-header d-flex justify-content-center">
      <p class="heading">Question {{ i + 1 }}</p>
    </div>

    <!--Body-->
    <div class="modal-body">

      <i class="fa fa-question-circle" aria-hidden="true"></i>

      <p class='question-content'>Do you want to receive the push notification about the newest posts?</p>

    </div>

    <!--Footer-->
    <div class="modal-footer flex-center">
      <a href="#" class="btn btn-info">Yes</a>
      <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">No</a>
    </div>
  </div>
  <!--/.Content-->
</div>
</div>

{% endmacro %} 