{% macro question (i) %}
<a-entity question-alert id="question" obj-model="obj: {{ ROOT }}assets/models/question_board/question_board.obj; mtl: {{ ROOT }}assets/models/question_board/materials.mtl " position= "{{ links[i].question_position }}" scale="25 25 25" rotation="0 -30 0">

    <a-entity class="portalText" text="color: #4ef580; align: center; value: QUESTION\n{{ i + 1 }}; side: double; width: 1; xOffset: 0.02; zOffset: 0.1" position="0 0 0" rotation="0 0 0" scale="0.3 0.3 0.3"></a-entity>

</a-entity>

{% endmacro %}